.container{
    display:flex;
    background-color:#fff;
    padding: 10px;
    border: 1px solid #ccc;

}
.box{
    background-color: #4CAF50;
    color:white;
    padding:20px;
    text-align:center;
    border-radius: 5px;
}
.box1{ background-color : #2196F3}
.box2{ background-color :yellowgreen}
.box3{ background-color : #2196F3}
.box4{ background-color : rgb(3, 35, 35)}
.box5{ background-color : #063357}
