*{
    padding:0;
    margin: 0;
}
div{
    height: 60px;
    background-color: rgb(12, 70, 12);
}
a{
    color:white;
    text-decoration: none;
    margin-right:100px;
}
#amazon{
    color:#f08804;
    font-size: 25px;
}
button{
    background-color: #f08804;
}
img {
    height:40px;
    align-items: center;
}