#header{
    background-color: black;
}
a{
    text-decoration: none;
    color: white;
    margin-right:200px;
}
#amazon{
    color:#f08804;
    font-size: 25px;
}
button{
    background-color:#f08804;
}
#box {
    height:900px;
}
#box1{
    background-color:rgba(0,0,225,0.2;
    display:inline-block;
    height:100px;
    width:100px;
    border:2px;
}
#box2{
    background-color:rgba(0,0,225,0.4) ;
    display:inline-block;
    height:100px;
    width:100px;
}
#box3{
    background-color:rgba(0,0,225,0.6);
    display:inline-block;
    height:100px;
    width:100px;
    border:2px;
}
#footer{
    background-color: black;
    color:white;
    text-align: center;
}
img{
    width:100%;
    height: auto;
    object-fit: cover;
}