body {
    background-color: black;
}
h1 {
    color: aqua;
    text-align: center;
    background-color: grey;
}

p {
    color: yellow;
    text-align: center;
    background-color:seagreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

button {
    background-color:yellowgreen;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #f1c40f;
}
