   /*Body styling*/
body {

    font -family:Arial,sans-serif;
    background-color:#acaca0;
    text align=center;
    margin:20px;
}
/*Heading styling*/
h1{
    color: black;
    margin-bottom:30px;
}
/*Product box styling*/
.product-box{
    background-color:white;
    width:300px;
    margin:0 auto;
    padding:15px;
    border:2px solid gray;
    border-radius:40px;
    /*Product Image styling*/
    .product-box img{
        width:20%%;
        height:20%;
        border-radius:5px;
    }
    /*Product Title*/
    .product-box h2{
        color:black
        font-size:20px;
        margin-top:10px ;
    }
    /*Product Description*/
    .description{
        color:dimgray;
        font-size:14px;
        margin:10px 0;
    }
    /*Product Price*/
    .price{
        color:red;
        font-weight:bold;
        margin-bottom:15px;
    }
    /* Button Styling*/
    button{
        background-color:blue;
        color:white;
        padding:10px 20px;
        /*Inner space(top-bottom left-right)*/
        border:none;
        border-radius:5px;
    }
    /*Button hover effect*/
    button:hover{
        background-color:darkblue;
    }

}
    body {
    background-color: black;
}
h1 {
    color: aqua;
    text-align: center;
    background-color: grey;
}

p {
    color: yellow;
    text-align: center;
    background-color:seagreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

button {
    background-color:yellowgreen;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #f1c40f;
}
