*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color:gainsboro;
}
h1{
    color:blue;
    background-color:aliceblue
}
p{
    color:salmon;
    background-color:#ffff00;
}
#heading{
    color:crimson;
}


