div{
    height:100px;
    width:100px;
    border:2px solid navy;
    display:inline-block;
}
#box1{
    background-color: rgba(0,0,255,0.2);
}
#box2{
    background-color: rgba(0,0,255,0.3);
}
#box3{
    background-color: rgba(0,0,255,0.6);
}
#box4{
    background-color: rgba(0,0,255,0.8);
}