div{
    height:100px;
    width:100px;
    border:2px solid navy;
    display:inline-block;
}
#box1{
    background-color: rgba(0,0,255,0.2);
    position:static;
    /* top right bottom left properties cannot be used */
}
#box2{
    background-color: rgba(0,0,255,0.3);
    position:relative;
    top:20px;
    left:30px;
    /* top right bottom left properties can be used */
}
#box3{
    background-color: rgba(0,0,255,0.6);
    /* position changes according to the closed position (non-static) ancestor (removed from the flow),here the ancestor is body tag */
    position:sticky;
    top:20px;
    left:30px;
}
#box4{
    background-color: rgba(0,0,255,0.8);
    position:fixed;
    top:0px;
    /* It sets position according to the browser */

}