div{
    height:200px;
    width:200px;
    color:white;
    background-image:url("https://plus.unsplash.com/premium_photo-1683910767532-3a25b821f7ae?q=80&w=1408&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    position:fixed;
    right:0px;
    top:10px;
    
}
