#box{
    height:200px;
    width:300px;
    background-color: grey;;
}
#box1,#box2{
    height: 100px;
    width:60%;
    margin:10%;
}
#box1{
    background-color:skyblue;
}
#box2{
    background-color: coral;
}
