#box{
    height:200px;
    width:300px;
    background-color: grey;
    font-size: 20px;
}
#box1,#box2{
    height:80px;
    width:60%;
    margin:5%;
}
#box1{
    background-color:skyblue;
    font-size:0.5em;
    /* 0.5 of parent's font-size */
}
#box2{
    background-color: coral;
    font-size:1.5em;
    /* In case of properties like width the font-size of the element changes with respect to itself */
}
