#box{
    height:200px;
    width:300px;
    background-color: grey;
    font-size: 20px;
}
#box1,#box2{
    height:80px;
    width:60%;
    margin:5%;
}
#box1{
    background-color:skyblue;
    font-size:0.5em;
}
#box2{
    background-color: coral;
    font-size:1.5em;
}
