div{
    height:200px;
    width:200px;
    display:inline-block;
    position:relative;
}
#box1{
background-color: rgba(0,255,0,0.1);

}
#box2{
background-color: rgba(0,255,0,0.3);
}
#box3{
background-color: rgba(0,255,0,0.5);
}