div{
    height:200px;
    width:200px;
    display:inline-block;
    position:relative;
}
#box1{
background-color: blue;
top:35px;
z-index:-2;

}
#box2{
background-color: red;
bottom:10px;
z-index:1;
}
#box3{
background-color: rgba(0,255,0,0.5);
bottom:40px;
z-index:3;
}