body{
    text-align:center;
}
div{
    height:100px;
    width:150px;
    border:2px solid black;
    display:inline-block;
}
#container{
    height:600px;
    width:600px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:wrap;
    /* flex start means start of the parent div so In this case flex direction is row so it will start from left side already so there will be no change */
    /* flex end means it will align items to the right side of the parent div in case of row direction  */
    /* justify content align items horizontally */
    /* space around means equal space between the items and comparitively half space with the border*/
    /* space between means equal space between the items but no space with the border */
   /* space evenly means equal space between the items as well as with the border */

}
#box1{
    background-color: aqua;
    height:75px;
}
#box2{
    background-color: pink;
}
#box3{
    background-color: yellowgreen;
}
#box4{
    background-color:coral;
}
#box5{
    background-color: blueviolet;
}