body{
    text-align:center;
}
div{
    height:100px;
    width:100px;
    border:2px solid black;
    display:inline-block;
}
#container{
    height:200px;
    width:800px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    /* flex start means start of the parent div so In this case flex direction is row so it will start from left side already so there will be no change */
    /* flex end means it will align items to the right side of the parent div in case of row direction  */
    /* justify content align items horizontally */
}
#box1{
    background-color: aqua;
}
#box2{
    background-color: pink;
}
#box3{
    background-color: yellowgreen;
}
#box4{
    background-color:coral;
}
#box5{
    background-color: blueviolet;
}