body{
    text-align:center;
}
div{
    height:100px;
    width:100px;
    border:2px solid black;
    display:inline-block;
    position:relative;
    top:0px;
    left:250px;
}
#container{
    height:200px;
    width:1000px;
}
#box1{
    background-color: aqua;
}
#box2{
    background-color: pink;
}
#box3{
    background-color: yellowgreen;
}
#box4{
    background-color:coral;
}
#box5{
    background-color: blueviolet;
}