div{
    height:100px;
    width:100px;
    background-color:pink;
}
@media(width:500px){
    div{
        background-color:blue;
    }
}
@media (min-width:600px) and (max-width:800px) {
    div{
        background-color:yellow;
    }
}