#container{
    height:100px;
    width:100px;
    background-color:pink;
}
@media(width:600px){
    div{
        background-color:blue;
    }
}
@media(min-width:600px){
    div{
        background-color:yellow;
    }
}