div{
    background-color:pink;
}
ul{
   list-style-type:none; 
   display:flex;
}
a{
    text-decoration:none;
    color:black;
}
#outer{
    border:2px solid black;
    background-color:grey;
    height:200px;
    width:200px;
    display:flex;
    justify-content:center;
    align-items:center;
}
#inner{
    border:2px solid black;
    background-color:lightgrey;
    height:100px;
    width:100px;
}