#container{
    background-color: black;;
}
div{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}
a{
    color:white;
}
#outer{
    border:2px solid black;
    background-color:grey;
    height:200px;
    width:200px;
    display:flex;
    justify-content:center;
    align-items:center;
}
#inner{
    border:2px solid black;
    background-color:lightgrey;
    height:100px;
    width:100px;
}