#container{
    background-color: black;;
}
div{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}
a{
    color:white;
}
#outer{
    border:2px solid black;
    background-color:grey;
}
#inner{
    border:2px solid black;
    background-color:lightgrey;
}