div{
    height:100px;
    width:100px;
}
@media(min-width:300px){
    div{
        background-color:green;
    }
}
@media(min-width:300px)and(max-width:400px){
    div{
        background-color:pink;
    }
}
@media(min-width:400px)and(max-width:600px){
    div{
        background-color:red;
    }
}
@media(max-width:600px){
    div{
        background-color:blue;
    }
}
