div{
    background-color:blue;
    height:100px;
    width:100px;
}
@media(max-width:300px){
    div{
        background-color:green;
    }
}
@media(min-width:300px)(max-width:400px){
    div{
        background-color:green;
    }
}