*{
    margin:0;
    font-family:Arial;
    border:border-box;
    padding:0;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color:white;
}
.nav-logo{}
.logo{
    background-image: url(https://www.nicepng.com/png/detail/16-167642_amazon-logo-amazon-logo-white-text.png);
    background-size:contain;
}