div{
    background-color: yellow;
    width:100px;
    height:100px;
    border: 2px solid black;
    position:absolute;
    /* animation-name:colorAnimate;
    animation-duration:2s;
    animation-timing-function:2s ;
    animation-iteration-count:infinite;
    animation-delay: 0s; */
    animation:colorAnimate 2s ease-in  infinite normal;
}
@keyframes colorAnimate{
    from{
        left:0px;
    background-color:blue
    ;
}
    to{left:100px;
    background-color:red;}
}
