div{
    background-color: yellow;
    width:100px;
    height:100px;
    border: 2px solid black;
    animation-name:colorAnimate;
    animation-duration:4s;
    animation-timing-function: ;
    animation-iteration-count:infinite;
}
@keyframes colorAnimate{
    from{background-color:red}
    to{background-color:blue};
}
div:hover{

}