div{
    background-color: yellow;
    width:100px;
    height:100px;
    border: 2px solid black;
}
@keyframes colorAnimate{
    from{background-color:red}
    to{background-color:blue};
}
div:hover{

}