div{
    background-color: yellow;
    width:100px;
    height:100px;
    border: 2px solid black;
    animation-name:colorAnimate;
    animation-duration:0.25s;
    animation-timing-function:2s ;
    animation-iteration-count:infinite;
    animation-delay: 0s;
}
@keyframes colorAnimate{
    from{left:0px;}
    to{left:100px};
}
div:hover{
animation-direction:reverse;
}