div{
    background-color: yellow;
    width:100px;
    height:100px;
    border: 2px solid black;
    animation-name:colorAnimate;
    animation-duration:0.4s;
    animation-timing-function:2px ;
    animation-iteration-count:infinite;
    animation-delay: 0s;
}
@keyframes colorAnimate{
    from{}
    to{background-color:blue};
}
div:hover{
animation-direction:reverse;
}