div{
    background-color:green;
    margin:100px 0 0 500px;
    height:200px;
    width:200px;
    border:2px solid black;
    /* transform:rotate(45deg); */
    /* rotate: y 90deg; */
    transform:scale(3);
}