div{
    height:100px;
    width:100px;
     border:20px solid #FFE66D; 
    border-top:20px solid #4ECDC4; 
    border-radius:50%;
    animation-name:loading;
    transform:ease-in-out;
}
@keyframes loading{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
