div{
    height:100px;
    width:100px;
    border:5px solid black;
    border-radius:50%;
    animation-name:loading;;
}
@keyframes loading{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
