div{
    height:100px;
    width:100px;
     border:10px solid #FFE66D; 
    border-top:10px solid #4ECDC4; 
    border-radius:50%;
    animation: spin 2s ease in 0s infinite normal;
}
@keyframes spin{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}
div:hover{
     transform:rotate(0deg);
        transition:rotate(360deg);
}
