div{
    height:100px;
    width:100px;
    background-color:black;
    border-radius:50%;
    animation-name:loading;;
}
@keyframes loading{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
#hollow{
background-color:white;
height:70px;
width:70px;
position:absolute;
top:15px;
left:15px;
bottom:15px;
right:15px;
border:2px solid grey;
border-radius:50%;
}
