div{
    height:100px;
    width:100px;
    background-color:black;
    border-radius:50%;
}
#hollow{
background-color:white;
height:70px;
width:70px;
position:absolute;
top:15px;
left:15px;
bottom:15px;
right:15px;
border-radius:50%;
}
