div{
    background-color:aqua;
    height:100px;
    width:100px;
    border:2px solid black;
    transition-property:all;
    transition-duration:2s;
}
div:hover{
    background-color:yellow;
    color:green;
    
}
div:active{
    background-color:black;
    color:white;
}