/* .nav{
    background-color:black;
    height:200px;
    width:auto;
    padding:100px;

}
.nav img{
    height:100px;
    width:auto;
}
a{
    text-decoration:none;
    color:white;
}
button{
    background-color:orange;
    color:white;
} */
 div{
    height:100px;
    width:100px;
    background-color:green;
    border-radius:500px;
 }