.nav{
    background-color:black;
    margin:200px;
    height:60px;
    width:auto;
}
a{
    text-decoration:none;
    color:white;
    margin:20px;
}
#logo{
    font-size:25px;
    color:#f08804;
     text-decoration:none;
}
button{
    background-color:#f08804;
}