*{
    padding:0;
    margin:0;
}
#nav{
    background-color: black;
    height:100px;
    width:100px;
}
a{
    color:white;
    margin:60px;
    text-decoration:none;
}
#amazon{
    color:orange;
}
button{
    background-color: orange;
}