*{
    padding:0;
    margin:0;
}
#nav,content,footer{
    border-style:double;
    border-color: gray;
}
#nav{
    background-color: black;
    height:60px;
    
}
a{
    color:white;
    margin:60px;
    text-decoration:none;
    font-size: 40px;
}
#amazon{
    color:orange;
}
button{
    background-color: orange;
}

#content{
    height:800px;
    background-color: rgba(209, 199, 199,0.5);
    display:inline-block;
}
#footer{
    background-color: rgb(43, 39, 39);
    height:50px;
    color:white;
    text-align:center;
}
#box1{
    background-color: blue;
}
#box2{
    background-color: green;
}
#box3{
    background-color: yellow;
}