*{
    padding:0;
    margin:0;
}
div{
    border-style:double;
    border-color: gray;
}
#nav{
    background-color: black;
    height:60px;
    
}
a{
    color:white;
    margin:60px;
    text-decoration:none;
    font-size: 40px;
}
#amazon{
    color:orange;
}
button{
    background-color: orange;
}

#content{
    height:500px;
    background-color: rgba(209, 199, 199,0.5);
}