div{
    width:100px;
    height:100px;
}
#div1{
    display:inline;
    background-color:green;
}
button{
    display:block;
}
#div2{
    display:block;
    background-color:blue;
}
#div3{
    display:inline-block;
    background-color:brown;
}