div{
    height:200px;
    background-color:pink;
    width:300px;
}
h1{
    height:200px;
    width:200px;
    background-color:bisque;
    border-width:5px;
    border-style:double;
    border-color:blue;
    text-align:center;
    /* Here text align property works for the defined height and width */
}