div{
    height:200px;
    background-color:pink;
    width:300px;
}
h1{
    height:200px;
    width:200px;
    background-color:bisque;
    border-width:2px;
    border-style:dotted;
    border-color:blue;
}