*{
    padding:0;
    margin:0;
}
#nav{
    background-color: #0f1111;
    height:60px;
}
a{
    text-decoration:none;
    color:white;
    padding:150px;
}
#amazon{
    padding-left:2px;
    color:#f08804;
    font-size:25px;
}
button{
    background-color:#f08804;
}