p{
    text-align:end;
    font-family:'Aerial';
    /* text-decoration:underline; */
    /* text-decoration:overline; */
    text-decoration:line-through;
}
a{
    text-decoration:none;
    font-weight:bold;
    /* font weight extend from 100 to 900 */
}
#new{
    text-align:center;
    text-decoration:underline;
    font-family:'sans-serif';
    font-weight:bold;
}
#para1{
font-size:12px;
}
#para2{
font-size:20px;
line-height:12px;
}
#para3{
font-size:30px;
}