p{
    text-align:end;
    font-family:'Aerial';
    /* text-decoration:underline; */
    /* text-decoration:overline; */
    text-decoration:line-through;
}
a{
    text-decoration:none;
    font-weight:bold;
    /* font weight extend from 100 to 900 */
}