*{
    margin:0;
    font-family:Arial;
    border:border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color:white;
    display:flex;
    align-items:center;
}
.nav-logo{
    height:50px;
    width:100px;
}
.logo{
    background-image: url(amazon.png);
    background-size:cover;
    height:50px;
    width:100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}

/* box 2 */
.add-first {
    color:#cccccc;
    font-size:0.85rem;
    margin-left:15px;
}
.add-sec {
    font-size:1rem;
    margin:3px;
}
.add-icon {
    display:flex;
    align-items:center;
}

/* box 3 */
.nav-search {
    display:flex;
    width:620px;
    justify-content:space-between;
    background-color:pink;
    height:40px;
    border-radius:4px;
}
.search-select{
    background-color:#f3f3f3 ;
    width:50px;
    text-align:center;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border:none;
}
.search-input{
    width:100%;
    font-size:1rem;
    border:none;
}
.search-icon{
    background-color:#febd69 ;
    width:70px;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    border:none;
}